Live.Log.Extractor.Web/Service References/IndexService/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Live.Log.Extractor.IndexerService" />
  <xs:element name="CreateIndexFiles">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Live.Log.Extractor.IndexerService" minOccurs="0" name="product" type="q1:ProductType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateIndexFilesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateIndexFilesResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchIndex">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Live.Log.Extractor.IndexerService" minOccurs="0" name="product" type="q2:ProductType" />
        <xs:element minOccurs="0" name="searchText" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchIndexResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Live.Log.Extractor.IndexerService" minOccurs="0" name="SearchIndexResult" nillable="true" type="q3:ArrayOfIndexInformation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>